*.suo
*.user
*.FileListAbsolute.txt
bin
temp
obj
*.dbmdl
*.Publish.xml
*.schemaview
*.ncb
*.orig
*.nlb
*.aps
*.clw
*.pdb
*.obj
*.exe
*.pch
*.vspscc
*_i.c
*_p.c
*.tlb
*.tlh
*.bak
*.cache
*.Cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.sig
*.docstates
*.vssscc
.hgignore
thumbs.db
_ReSharper*\*
error-*.xml
TestResults\*
*.vsp
AjaxMin.4.48.4489.28432/
IronRuby.1.1.3/
Jurassic.2.1.1/
YUICompressor.NET.1.7.1.0/
dotless.1.3.0.0/
packages/
Zippy.Setup.VS10/Chirpy.dll
