<root>
  <FileGroup Name="z.js">
    <File Path="a.chirp.min.js" Minify="false" />
    <File Path="b.min.js" Minify="false" />
    <File Path="c.min.js" Minify="false" />
    <File Path="d.min.js" Minify="false" />
  </FileGroup>

  <FileGroup Name="x.js">
    <File Path="a.chirp.min.js" Minify="false" />
    <File Path="b.min.js" Minify="false" />
    <File Path="c.min.js" Minify="false" />
    <File Path="d.min.js" Minify="false" />
  </FileGroup>
</root>